SLACK_BOT_TOKEN=xoxb-very-secret-token # This is only needed for local development
SLACK_SIGNING_SECRET=very-secret-signing-secret
SLACK_CLIENT_SECRET=very-secret-client-secret
SLACK_CLIENT_ID=very-secret-client-id
SLACK_STATE_SECRET=very-very-secret-state-secret
SLACK_APP_TOKEN=xapp-very-secret-token # This is only needed for local development

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db" # SQLite database file